#pageButtons {
    border-radius: 16;
    backdrop-filter: blur(3em);
    background-color: #1f284700;
    border-radius: 36px;
    padding: 8px;
    z-index: 1;
    position: fixed;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 1.5em;
}

#contents {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2em;
}

div.position-absolute{
    position: absolute;
    left: 0;
    top: 0;
}

div.container{
    position: relative;
    background-color: #0f1d3995;
    border-radius: 32px;
    color: #C2DBFF;
    box-shadow: 0px 4px 24px #10062428;
    padding: 16px 32px;
    margin-left: 5%;
    margin-right: 5%;
    backdrop-filter: blur(0.1em);
    transition: all 0.5s;
}

div.container:hover{
    background-color: #0f1d39b2;
    backdrop-filter: blur(1em);
}

button {
    background: none;
    border: none;
    padding: 10px 32px;
    margin-right: 2px;
    margin-left: 2px;
    border-radius: 32px;
    font-family: Arial;
    font-size: 100%;
    color: #7DB1FF;
    transition: all 0.25s;
}
  
button:hover {
    transform: scale(1.05) translate(0, 2px);
    color: #C2DBFF;
}

button:active {
    transform: scale(0.98);
}

svg.logo {
    fill:#C2DBFF;
    width: 1.8em;
    height: 1.8em;
    opacity: 0.8;
    transition: all 0.15s;
}

svg.logo:hover {
    opacity: 1;
    fill:#e9f2ff;
    transform: rotate(10deg) scale(0.95);
}

svg.blob {
    filter:drop-shadow(0px 4px 24px #10062428);
    z-index: -1;
}

#currentPageButton {
    background: #1F2847;
    box-shadow: 0px 4px 12px #10062400;
    color: #C2DBFF;
    
}

#currentPageButton:hover {
    box-shadow: 0px 4px 8px #10062428;
    color: #e9f2ff;
}

h1 {
    color: #7DB1FF;
    font-family: Arial;
    font-weight: normal;
    font-size: 64px;
    text-align: center;
}

h2 {
    color: #C2DBFF;
    opacity: 0.8;
    font-family: Arial;
    font-weight: 10;
    font-size: 24px;
    text-align: center;
}

p {
    color: #C2DBFF;
    z-index: 2;
}

.footer {
    z-index: 2;
    margin-top: 30em;
}

#copyright {
    color: #C2DBFF;
    position: bottom left;
}