/* Elements */

html {
    scroll-behavior: smooth;
    min-width: 512px;
}

::selection {
    /* Change highlight background color */
    background: #2e529b;
    /* Change highlight text color */
    color: #ffffff;
}

img {
    min-height: 32px;
    min-width: 32px;
}

button {
    font-family: 'Segoe UI';
}

svg.logo {
    fill:#C2DBFF;
    width: 1.8em;
    height: 1.8em;
    opacity: 0.8;
    transition: all 0.15s;
}

svg.logo:hover {
    opacity: 1;
    fill:#e9f2ff;
    transform: rotate(10deg) scale(0.95);
}

svg.blob {
    filter:drop-shadow(0px 4px 24px #10062428);
    background: none;
}

h1 {
    color: #7DB1FF;
    font-family: Segoe UI;
    font-weight: normal;
    font-size: 64px;
    text-align: center;
}

h2 {
    color: #C2DBFF;
    font-family: Segoe UI;
    font-weight: 10;
    font-size: 32px;
    text-align: center;
}

h3 {
    color: #6aa8ff;
    font-family: Segoe UI;
    font-weight: bold;
    font-size: 22px;
}

h4 {
    color: #598fdb;
    font-family: Segoe UI;
    font-weight: bold;
    font-size: 18px;
}

p, div {
    font-family: Segoe UI;
    color: #C2DBFF;
}

p.light {
    color: #88a5ce;
}

p {
    line-height: 24px;
}

a {
    text-decoration: none;
}

/* unvisited link */
a:link {
    color: #C2DBFF;
}

/* visited link */
a:visited {
    color: #C2DBFF;
}

/* mouse over link */
a:hover {
    color: #dceaff;
}

/* selected link */
a:active {
    color: #C2DBFF;
}

/* Classes */

.highlight::selection {
    color: #6aa8ff;
}

.position-absolute{
    position: absolute;
    left: 0;
    top: 0;
}

.hidden {
    display: none;
}

.container{
    position: relative;
    background-color: #0f1d3995;
    border-radius: 24px;
    color: #C2DBFF;
    box-shadow: 0px 4px 24px #10062428;
    padding: 8px 8px;
    backdrop-filter: blur(0.5em);
    transition: all 0.5s;
    outline: #3f599275 solid 1px;
}

.container.text{
    padding: 16px 32px;
}

.container:hover{
    background-color: #0f1d39b2;
    backdrop-filter: blur(1em);
}

.profilePicture {
    position: relative;
    border-radius: 16px;
    outline: #7592C9 solid 2px;
    padding: 8px;
    margin: -8px;
    scale: 0.9;
    width: 100%;
    
    max-height: 384px;
    max-width: 384px;
    aspect-ratio: 1;
}

.arrowUp {
    margin: 2px;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #C2DBFF;
    opacity: 0.8;
}

.center {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.highlight {
    color: #dceaff;
}

.footer {
    position: relative;
    vertical-align: bottom;
    display: flex;
    flex-wrap: wrap;
    background-color: #172b56;
    padding: 32px 15% 32px 15%;
    margin: 20em -8px -8px -8px;
}

.footerCol {
    width: 50%;
    position: relative;
}

.contactInfo {
    text-align: right;
    position: bottom right;
}

/* Id's */

#contents {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2em;
    z-index: 1 !important;
}

#aboutGridContainer {
    display: grid;
    grid-template-areas:
        'body1 body1 '
        'body2 image';
    gap: 32px;
    margin-top: 4em;
    margin-left: 10%;
    margin-right: 10%;
}

#goTop {
    border-radius: 24px;
    backdrop-filter: blur(3em);
    box-shadow: 0px 4px 8px #10062420;
    background-color: #3c5c9c79;
    border: #7db1ff15 solid 1px;
    position: fixed;
    font-size: 12px;
    padding: 8px 16px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 8em;
    text-align: center;
    z-index: 5;
    transition-duration: 0.25s;
    transition-delay: 1s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
    opacity: 0;
}

#pageButtons {
    -webkit-font-smoothing: antialiased;
    border-radius: 16;
    backdrop-filter: blur(3em);
    background-color: #2b478000;
    box-shadow: 0px 4px 12px #10062400;
    border: #7db1ff00 solid 0px;
    border-radius: 36px;
    padding: 8px;
    z-index: 5;
    position: fixed;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 1.5em;
    transition: all 0.25s;
}

#pageButtons button {
    background: none;
    border: none;
    padding: 8px 24px;
    padding-bottom: 10px;
    margin-right: 2px;
    margin-left: 2px;
    border-radius: 32px;
    font-size: 110%;
    color: #99c2ff;
    transition: all 0.25s;
}
  
#pageButtons button:hover {
    transform: scale(1.05);
    color: #C2DBFF;
}

#pageButtons button:active {
    transform: scale(0.95);
}

#pageButtons #currentPageButton {
    background: #1F2847;
    box-shadow: 0px 4px 12px #10062400;
    color: #C2DBFF;
}

#currentPageButton:hover {
    box-shadow: 0px 4px 8px #10062428;
    color: #e9f2ff;
}

#copyright {
    position: bottom left;
    height: max-content;
}

/* Animations */
.animation {
    opacity: 0;
}

.scroll-animation {
    opacity: 1;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-name: fadeInDown;
}

@keyframes fadeInDown {
    0% {
        transform: translateY(-24px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes goTopAppear {
    0% {
        transform: translateY(-24px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}