html {
    scroll-behavior: smooth;
    min-width: 512px;
}

#contents {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2em;
}

.position-absolute{
    position: absolute;
    left: 0;
    top: 0;
}

.hidden {
    display: none;
}

.container{
    position: relative;
    background-color: #0f1d3995;
    border-radius: 24px;
    color: #C2DBFF;
    box-shadow: 0px 4px 24px #10062428;
    padding: 8px 8px;
    backdrop-filter: blur(0.5em);
    transition: all 0.5s;
    outline: #3f599275 solid 1px;
}

.animation {
    opacity: 0;
}

.scroll-animation {
    opacity: 1;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-name: fadeInDown;
}

.container.text{
    padding: 16px 32px;
}

.container:hover{
    background-color: #0f1d39b2;
    backdrop-filter: blur(1em);
}

.profilePicture {
    position: relative;
    border-radius: 16px;
    outline: #7592C9 solid 2px;
    padding: 8px;
    margin: -8px;
    scale: 0.9;
    max-height: 324px;
}

img {
    min-height: 32px;
    min-width: 32px;
}

#aboutGridContainer {
    display: grid;
    grid-template-areas:
        'body1 body1 '
        'body2 image';
    gap: 32px;
    margin-top: 4em;
    margin-left: 10%;
    margin-right: 10%;
}

#pageButtons {
    -webkit-font-smoothing: antialiased;
    border-radius: 16;
    backdrop-filter: blur(3em);
    background-color: #2b478000;
    box-shadow: 0px 4px 12px #10062400;
    border: #7db1ff00 solid 0px;
    border-radius: 36px;
    padding: 8px;
    z-index: 1;
    position: fixed;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 1.5em;
    transition: all 0.25s;
}

button {
    font-family: 'Segoe UI';
}

#pageButtons button {
    background: none;
    border: none;
    padding: 8px 24px;
    padding-bottom: 10px;
    margin-right: 2px;
    margin-left: 2px;
    border-radius: 32px;
    font-size: 110%;
    color: #99c2ff;
    transition: all 0.25s;
}
  
#pageButtons button:hover {
    transform: scale(1.025);
    color: #C2DBFF;
}

#pageButtons button:active {
    transform: scale(0.95);
}

#pageButtons #currentPageButton {
    background: #1F2847;
    box-shadow: 0px 4px 12px #10062400;
    color: #C2DBFF;
}

#currentPageButton:hover {
    box-shadow: 0px 4px 8px #10062428;
    color: #e9f2ff;
}

svg.logo {
    fill:#C2DBFF;
    width: 1.8em;
    height: 1.8em;
    opacity: 0.8;
    transition: all 0.15s;
}

svg.logo:hover {
    opacity: 1;
    fill:#e9f2ff;
    transform: rotate(10deg) scale(0.95);
}

svg.blob {
    filter:drop-shadow(0px 4px 24px #10062428);
    background: none;
}

.blob1 {
    display: block;
    height: 100px;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml,<svg class="blob" viewBox="0 0 200 170" xmlns="http://www.w3.org/2000/svg"><path fill="%2331508B" d="M42.1,-48.5C52.3,-41.7,56.6,-26.2,58.6,-11C60.5,4.3,60.1,19.4,53.8,31.7C47.4,44.1,35.3,53.7,21.5,58.5C7.8,63.2,-7.5,63,-20.8,57.8C-34,52.7,-45.2,42.6,-48.6,30.9C-51.9,19.2,-47.4,5.8,-42.4,-4.8C-37.3,-15.3,-31.6,-23.1,-24.4,-30.4C-17.2,-37.7,-8.6,-44.6,3.7,-49C16,-53.4,32,-55.3,42.1,-48.5Z" transform="translate(100 100)" /></svg>');
    background-position: center center;
}

h1 {
    color: #7DB1FF;
    font-family: Segoe UI;
    font-weight: normal;
    font-size: 64px;
    text-align: center;
}

h2 {
    color: #C2DBFF;
    font-family: Segoe UI;
    font-weight: 10;
    font-size: 32px;
    text-align: center;
}

h3 {
    color: #6599E4;
    font-family: Segoe UI;
    font-weight: bold;
    font-size: 18px;
}

p {
    font-family: Segoe UI;
    color: #C2DBFF;
    z-index: 1;
}

.footer {
    z-index: 2;
    margin-top: 30em;
}

#copyright {
    color: #C2DBFF;
    position: bottom left;
}

@keyframes fadeInDown {
    0% {
        transform: translateY(-24px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}